body {
  background-color: #1a1a1a;
  color: #f1f1f1;
}
li,
a {
  text-decoration: none;
  list-style: none;
  color: #ff073a;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
